<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>We'll be back!</h1>
    <h3>The site is currently being updated. We'll be back soon</h3>
  </body>
</html>
